@use 'tailwindcss';


@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&display=swap');
@layer base {
  :root {
    --color-torus-bg: #0D0D12;
    --color-torus-panel: #1A1A24;
    --color-torus-accent: #00FF9D;
    --color-torus-text: #A1A1AA;
    --color-torus-critical: #FF3366;

    --font-mono-torus: "Fira Code", monospace, "Courier New";
  }
  body {
    background-color: var(--color-torus-bg); 
    color: var(--color-torus-text); 
    font-family: var(--font-mono);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
  }
  html {
    scroll-behavior: smooth;
  }
}